<!DOCTYPE html>
<html lang="ko" >
<head>
  <meta charset="UTF-8">
  <title>Layer7-Bloock</title>
  <link rel='stylesheet' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'><link rel="stylesheet" href="../public/stylesheets/admin.css">

</head>
<body>
<div class="container">
  <div class="drawer">
    <a class="navicon" href="#"><i class="icon ion-navicon"></i></a>
    <div class="menu">
      <a data-menu="dashboard" href="#" class="active"><i class="icon ion-home"></i></a>
    </div>
    <span class="credits">Layer7</span>
  </div>
  <div class="content">
    <div class="page active" data-page="dashboard">
      <div class="header">
        <div class="title">
          <h2>헌혈증 추가하기</h2>
        </div>
      </div>
      <div style="padding: 0 40px;">
        <form action="/posts" method="post" class="my-form">
          <div class="grid-2">
            <input style="margin-bottom: 1rem; width:50%;" type="date" name="donateDate" id="donateDate" placeholder="헌혈 일자" required>  
            <input style="margin-bottom: 1rem; width:50%;" type="date" name="birth" id="birth" placeholder="생일" required>
            <select style="margin-bottom: 1rem; width:50%; height: 50px; font-size: 12px;" name="gender" id="gender" require>
              <option selected disabled>-- 성별을 선택해주세요 --</option>
              <option>남자</option>
              <option>여자</option>
            </select>
            <input style="margin-bottom: 1rem; width:50%;" type="text" name="name" id="name" placeholder="이름" required>
            <input style="margin-bottom: 1rem; width:50%;" type="text" name="kind" id="kind" placeholder="헌혈 종류" required>
            <input style="margin-bottom: 1rem; width:50%;" type="text" name="userid" id="userid" placeholder="사용자 id" required>
            <button style="margin-bottom: 1rem; width:50%; font-size:12px;" class="btn-grid" type="reset">추가하기</button>
          </div>
        </form>
      </div>
      <div class="header">
        <div class="title">
          <h2>Bloock 사용자 리스트</h2>
        </div>
      </div>
      <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
          <thead>
            <tr>
              <th>이름</th>
              <th>이메일</th>
              <th>블록체인 주소</th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <% for(var i=0; i< user.length; i++) { %>
              <tr>
                <td><%= user[i].name %></td>
                <td><%= user[i].id %></td>
                <td><%= user[i].address %></td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>

<!--
    <div class="page noflex" data-page="users">
      <div class="header">
        <div class="title">
          <h2>Users</h2>
        </div>
      </div>
      <div class="grid">
        <div class="user-edit">
          <div class="header">
            <span class="icon">
              <i class="icon ion-person"></i>
            </span>
            <span class="user-edit-name">$_USERNAME</span>
            <a href="#" class="close"><i class="icon ion-close-round"></i></a>
          </div>
        </div>
        <div class="users-table">
          <div class="users-item header">
            <div class="table-item noflex">
              ID
            </div>
            <div class="table-item">
              Email Address
            </div>
            <div class="table-item">
              Username
            </div>
            <div class="table-item">
              Nickname
            </div>
            <div class="table-item">
              Active
            </div>
            <div class="table-item">
              Premium
            </div>
          </div>
        </div>
      </div>
    </div>
  -->
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script><script  src="./script.js"></script>

</body>
</html>
