<html>
    <form method="POST">
        날짜: <input type="date" name="donateDate" /><br/>
        생일: <input type="date" name="birth" /><br />
        성별:
        <select name="gender">
            <option value="1">male</option>
            <option value="0">female</option>
        </select><br />
        이름: <input type="text" name="name" /><br />
        종류: <input type="text" name="kind" /><br />
        유저이메일: <input type="email" name="userid" /><br />
        <input type="submit" value="저장" />
    </form>
</html>