<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/stylesheets/slide.css">
    <title>Document</title>
</head>

<body class="pink_background">



    <div class="slide_box">

        <div class="slide_line">April 28. 2019</div>

        <h2 class="slide_center_text">"복동이의 삶에 다시 뜬, 햇빛이 되어주세요!"</h2>
        <br>
        <div class="slide_image"></div>
        <div class="slide_text">


            하지만 일본 최고의 선수들을 제치고 조선인 최초로 우승을 차지한 엄복동의 등장으로 일본의 계략은 실패로 돌아가고, 계속되는 무패행진으로 ‘민족 영웅’으로 떠오른 그의 존재에 조선 전역은 들끓기
            시작한다.

            때맞춰 애국단의 활약까지 거세지자 위기감을 느낀 일본은 엄복동의 우승을 막고 조선인들의 사기를 꺾기 위해 최후의 자전차 대회를 개최하는데...

            일제강점기, 그 어느 때보다 뜨거웠던 한일전이 시작된다!
            술 한잔 마셨습니다...
            영화가 잘 안되도 좋습니다. 하지만 엄복동 하나만 기억해주세요 진심을 다해 전합니다.
            영화가 별로 일수있습니다 밤낮으로 고민하고 연기 했습니다 ...
            최선을 다했고 열심히 했습니다 저의 진심이 느껴지길 바랍니다 고맙습니다...

        </div>
        <button type="submit" class="slide_button">기부하기</button>

        <button type="submit" class="slide_button">추천하기</button>

    </div>


    <div class="slide_box">

        <div class="slide_line">April 28. 2019</div>

        <h2 class="slide_center_text">"복동이의 삶에 다시 뜬, 햇빛이 되어주세요!"</h2>
        <br>
        <div class="slide_image"></div>
        <div class="slide_text">


            하지만 일본 최고의 선수들을 제치고 조선인 최초로 우승을 차지한 엄복동의 등장으로 일본의 계략은 실패로 돌아가고, 계속되는 무패행진으로 ‘민족 영웅’으로 떠오른 그의 존재에 조선 전역은 들끓기
            시작한다.

            때맞춰 애국단의 활약까지 거세지자 위기감을 느낀 일본은 엄복동의 우승을 막고 조선인들의 사기를 꺾기 위해 최후의 자전차 대회를 개최하는데...

            일제강점기, 그 어느 때보다 뜨거웠던 한일전이 시작된다!
            술 한잔 마셨습니다...
            영화가 잘 안되도 좋습니다. 하지만 엄복동 하나만 기억해주세요 진심을 다해 전합니다.
            영화가 별로 일수있습니다 밤낮으로 고민하고 연기 했습니다 ...
            최선을 다했고 열심히 했습니다 저의 진심이 느껴지길 바랍니다 고맙습니다...

        </div>
        <button type="submit" class="slide_button">기부하기</button>

        <button type="submit" class="slide_button">추천하기</button>

    </div>

    <div class="slide_box">

        <div class="slide_line">April 28. 2019</div>

        <h2 class="slide_center_text">"복동이의 삶에 다시 뜬, 햇빛이 되어주세요!"</h2>
        <br>
        <div class="slide_image"></div>
        <div class="slide_text">


            하지만 일본 최고의 선수들을 제치고 조선인 최초로 우승을 차지한 엄복동의 등장으로 일본의 계략은 실패로 돌아가고, 계속되는 무패행진으로 ‘민족 영웅’으로 떠오른 그의 존재에 조선 전역은 들끓기
            시작한다.

            때맞춰 애국단의 활약까지 거세지자 위기감을 느낀 일본은 엄복동의 우승을 막고 조선인들의 사기를 꺾기 위해 최후의 자전차 대회를 개최하는데...

            일제강점기, 그 어느 때보다 뜨거웠던 한일전이 시작된다!
            술 한잔 마셨습니다...
            영화가 잘 안되도 좋습니다. 하지만 엄복동 하나만 기억해주세요 진심을 다해 전합니다.
            영화가 별로 일수있습니다 밤낮으로 고민하고 연기 했습니다 ...
            최선을 다했고 열심히 했습니다 저의 진심이 느껴지길 바랍니다 고맙습니다...

        </div>
        <button type="submit" class="slide_button">기부하기</button>

        <button type="submit" class="slide_button">추천하기</button>

    </div>

    <div class="slide_box">

        <div class="slide_line">April 28. 2019</div>

        <h2 class="slide_center_text">"복동이의 삶에 다시 뜬, 햇빛이 되어주세요!"</h2>
        <br>
        <div class="slide_image"></div>
        <div class="slide_text">


            하지만 일본 최고의 선수들을 제치고 조선인 최초로 우승을 차지한 엄복동의 등장으로 일본의 계략은 실패로 돌아가고, 계속되는 무패행진으로 ‘민족 영웅’으로 떠오른 그의 존재에 조선 전역은 들끓기
            시작한다.

            때맞춰 애국단의 활약까지 거세지자 위기감을 느낀 일본은 엄복동의 우승을 막고 조선인들의 사기를 꺾기 위해 최후의 자전차 대회를 개최하는데...

            일제강점기, 그 어느 때보다 뜨거웠던 한일전이 시작된다!
            술 한잔 마셨습니다...
            영화가 잘 안되도 좋습니다. 하지만 엄복동 하나만 기억해주세요 진심을 다해 전합니다.
            영화가 별로 일수있습니다 밤낮으로 고민하고 연기 했습니다 ...
            최선을 다했고 열심히 했습니다 저의 진심이 느껴지길 바랍니다 고맙습니다...

        </div>
        <button type="submit" class="slide_button">기부하기</button>

        <button type="submit" class="slide_button">추천하기</button>

    </div>




</body>

</html>