:root {
  --blood-color: #b7141a;
  --fresh-blood-color: #ff1418;

  --point1-color: #ff9990;
  --point2-color: #9f90ff;
  --point3-color: #f0ff90;

  --sub1-color: #ffa3a6;
  --sub2-color: #a3a9ff;
  --sub3-color: #fffda3;

  --power1-color: #ff5c50;
  --power2-color: #6450ff;
  --power3-color: #ebff50;
}
* {
  font-weight: 100;
}

body,
html {
  margin: 0;
}

.accurate-screen-size {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

/* 두들 */
.doodle-container {
  position: absolute;
  z-index: -1;
  width: 100%;
  overflow: hidden;
}
.cell {
  animation: rotate 10s infinite;
  opacity: 0.2;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.doodle-header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 500px;
	height: 100vh;
}

/* 두들 위의 해더 */
#left-header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 200;
	width: 500px;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
#header-paper {
	overflow: hidden;
	transform: perspective(1000px);
	transform-style: preserve-3d;
}
#header-paper > .cover {
	height: auto;
	padding: 3rem;
	cursor: default;
	background: #f9fcfa;
	border: 1px solid #dee8e2;
	border-radius: 3px;
  
	background: rgba(255, 255, 255, 0.9);
	border-radius: 0;
	border: 0;
	--polygon: polygon(0 0, calc(100% - 35px) 0, 100% 35px, 100% 100%, 0 100%);
	clip-path: var(--polygon);
  }
  #header-paper:after {
	content: "";
	position: absolute;
	width: 50px;
	height: 1px;
	right: 0;
	top: 0;
	border: 0;
	transform-origin: 0 0;
	transform: translate(12px) rotate(45deg);
	box-shadow: 0 -5px 0 0 rgba(255, 255, 255, 0.8),
	  0 -8px 0 0 rgba(255, 255, 255, 0.6), 0 -12px 0 0 rgba(255, 255, 255, 0.4),
	  0 -17px 0 0 rgba(255, 255, 255, 0.2), 0 -22px 0 0 rgba(255, 255, 255, 0.2);
  }
.small-phrases {
	font-size: 1.5rem;
	font-weight: 100;
}
.big-phrases {
	margin: 0;
	font-size: 7rem;
	font-weight: 100;
	transform: translateZ(20px);
}
.align-center {
	text-align: center;
}
.align-right {
	text-align: right;
}


/* index의 메인 컨텐츠 */
#index-main-contents {
	position: relative;
	width: calc(100vw - 515px);
	height: 190vh;
	margin-left: auto;
}
#blood-donation-list {
	height: 100vh;

}
.slide-page {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: space-around;
	padding: 0 4rem !important;
    box-sizing: border-box;
}
.blood-donation-item {
	display: block;
}


/* 팝업 모달 */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 300; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 50%; /* Could be more or less, depending on screen size */                          
}
/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}





/* 버튼 파도 */
.btn-round {
  border-radius: 10em;
}

.material-design {
  position: relative;
}

.material-design canvas {
  opacity: 0.25;
  position: absolute;
  top: 0;
  left: 0;
}

.container {
  align-content: center;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 46rem;
}

/* 토스트 */
/* The snackbar - position it at the bottom and in the middle of the screen */
#inconsistency-toast {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#inconsistency-toast.show {
  visibility: visible; /* Show the snackbar */
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

/* 인풋 텍스트 스타일(배낌) */
.md-input-text {
  border: none;
  outline: none;
  padding: 8px 0;
  font-size: 0.9em;
  background-color: transparent;
}
.md-form-control {
  position: relative;
  margin-top: 25px;
}
.md-form-control.focus label,
.md-form-control .md-input-text:focus + label {
  top: -10px;
  font-size: 1rem;
  color: #e91e63;
}
.md-form-control .md-input-text {
  width: 100%;
}
.md-form-control .md-input-text:focus ~ .md-input-text-bar:after {
  width: 100%;
  left: 0;
}
.md-form-control label {
  position: absolute;
  top: 8px;
  left: 0;
  font-size: 1.5rem;
  transition: 0.2s ease;
}
.md-form-control .md-input-text-bar {
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.3);
}
.md-form-control .md-input-text-bar:after {
  content: "";
  position: absolute;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #e91e63;
  transition: 0.2s ease;
}

/* 애니메이션 */
.shake {
  animation: shake 1s;
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

/* 메인 */
#main-door {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 3;
  max-width: 60%;
  min-width: 980px;
  margin: auto;
  line-height: 1.4;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

  transform: perspective(1000px);
  transform-style: preserve-3d;
}

#main-door > .cover {
  height: auto;
  padding: 3rem;
  cursor: default;
  background: #f9fcfa;
  border: 1px solid #dee8e2;
  border-radius: 3px;

  background: rgba(255, 255, 255, 0.9);
  border-radius: 0;
  border: 0;
  --polygon: polygon(0 0, calc(100% - 35px) 0, 100% 35px, 100% 100%, 0 100%);
  clip-path: var(--polygon);
}
#main-door:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 1px;
  right: 0;
  top: 0;
  border: 0;
  transform-origin: 0 0;
  transform: translate(12px) rotate(45deg);
  box-shadow: 0 -5px 0 0 rgba(255, 255, 255, 0.8),
    0 -8px 0 0 rgba(255, 255, 255, 0.6), 0 -12px 0 0 rgba(255, 255, 255, 0.4),
    0 -17px 0 0 rgba(255, 255, 255, 0.2), 0 -22px 0 0 rgba(255, 255, 255, 0.2);
}

#main-door #open-phrases {
  font-size: 500%;
  margin: 0 0 1.5rem;
  letter-spacing: -0.125em;
}

#main-door .sub-phrases {
  font-size: 150%;
  margin-bottom: 2rem;
}

#entrance-button {
  display: block;
  margin: auto;
  width: 40%;
  font-size: 1.6em;
  line-height: 2em;
  border: 3px solid var(--fresh-blood-color);
  color: var(--fresh-blood-color);
  background: rgba(255, 255, 255, 0);
  font-weight: 500;
  transition: 0.2s;

  transform: translateZ(20px);
}
.button-submit {
  display: block;
  margin: 2rem 0 0 auto;
  width: 200px;
  font-size: 1.125rem;
  line-height: 2rem;
  border: 2px solid var(--fresh-blood-color);
  color: #ffffff;
  background: var(--fresh-blood-color);
  font-weight: 500;
  transition: 0.2s;
  letter-spacing: -0.1em;
}
.md-form-control > input {
  line-height: 2rem;
  font-size: 1.5rem;
  font-weight: 100;
}

#main-door.fade-out-login {
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  transition: 0.5s;
}
#login-door {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
}
#login-form {
  position: relative;
  min-width: 700px;
  max-width: 50%;
  margin: 0 auto;
  padding: 3rem;
  padding-bottom: 5rem;
  background: rgba(255, 255, 255, 0.9);
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  transition: 0.5s;
}

#login-form.fade-in-login {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  transition: 0.5s;
}
#login-form.fade-out-join {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: 0.5s;
}

.login-phrases {
  font-size: 300%;
  margin: 0 0 1.5rem;
  letter-spacing: -0.1em;
}

.to-join-button {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: #ffffff;
  padding-left: 3rem;
  line-height: 30px;
  height: 30px;
  overflow: visible;
  color: var(--fresh-blood-color);
  letter-spacing: -0.1em;
  border-top: 3px solid;
}
#join-form {
  position: relative;
  min-width: 700px;
  max-width: 50%;
  margin: 0 auto;
  padding: 3rem;
  padding-top: 5rem;
  background: rgba(255, 255, 255, 0.9);
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  transition: 0.5s;
}
#join-form.fade-in-join {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transition: 0.5s;
}
.to-login-button {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background-color: #ffffff;
  padding-left: 3rem;
  line-height: 30px;
  height: 30px;
  overflow: visible;
  color: var(--fresh-blood-color);
  letter-spacing: -0.1em;
  border-bottom: 3px solid;
}
#join-form.fade-out-login {
	clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
	transition: 0.5s;
}
/* #login-form.fade-in-login {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	transition: 0.5s;
} */


.cursor-pointer {
  cursor: pointer;
}
.position-relative {
  position: relative;
}
.sizing-border {
  box-sizing: border-box;
}
.flexY {
  display: flex;
  align-items: center;
}
.XYfull {
  width: fit-content;
  height: 100vh;
}
.display-none {
  display: none;
}
.display-block {
  display: block;
}


/*

